<p id="notice"><%= notice %></p>

<p>
  <b>Mobid:</b>
  <%= @step.mobID %>
</p>

<p>
  <b>Longline:</b>
  <%= @step.longline %>
</p>


<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
